In [30]:
import pandas as pd
locations = ['LA','NY','SF','SG','SV','HK', 'Taipei', 'Tokyo']
df = pd.DataFrame()
for i in range (len(locations)):
    for week in range (1,8):
        file_name = "./2016/Anon Week " + str(week) + " Feedback - " + str(locations[i]) + ".csv"
        #print(file_name)
        try:
            new_df = pd.read_csv(file_name)
            new_df["Location"] = locations[i]
            new_df['Week'] = week
            df = pd.concat([df,new_df], ignore_index=True)
        except (FileNotFoundError):
            print(file_name)
    
df = df.drop('Unnamed: 0', axis = 1)
df

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

./2016/Anon Week 7 Feedback - SG.csv
./2016/Anon Week 1 Feedback - HK.csv
./2016/Anon Week 2 Feedback - HK.csv
./2016/Anon Week 3 Feedback - HK.csv
./2016/Anon Week 4 Feedback - HK.csv
./2016/Anon Week 7 Feedback - HK.csv
./2016/Anon Week 1 Feedback - Taipei.csv
./2016/Anon Week 2 Feedback - Taipei.csv
./2016/Anon Week 3 Feedback - Taipei.csv
./2016/Anon Week 4 Feedback - Taipei.csv
./2016/Anon Week 5 Feedback - Taipei.csv
./2016/Anon Week 1 Feedback - Tokyo.csv
./2016/Anon Week 2 Feedback - Tokyo.csv
./2016/Anon Week 3 Feedback - Tokyo.csv
./2016/Anon Week 4 Feedback - Tokyo.csv
./2016/Anon Week 5 Feedback - Tokyo.csv
./2016/Anon Week 7 Feedback - Tokyo.csv

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Week,What track are you in?
0,4.0,NaN,3,LA,6/23/2016 15:55:12,1,NaN
1,4.0,NaN,4,LA,6/23/2016 16:14:04,1,NaN
2,4.0,NaN,4,LA,6/24/2016 0:18:42,1,NaN
3,4.0,NaN,4,LA,6/24/2016 6:59:42,1,NaN
4,5.0,NaN,4,LA,6/24/2016 9:40:16,1,NaN
5,4.0,NaN,5,LA,6/23/2016 22:07:29,1,NaN
6,3.0,NaN,5,LA,6/24/2016 9:34:14,1,NaN
7,NaN,2,4,LA,6/30/2016 14:09:14,2,NaN
8,NaN,3,3,LA,6/30/2016 22:50:08,2,NaN
9,NaN,4,4,LA,7/1/2016 9:34:16,2,NaN
10,NaN,3,4,LA,7/1/2016 10:42:17,2,NaN
11,NaN,3,4,LA,7/1/2016 11:25:53,2,NaN
12,NaN,3,5,LA,7/1/2016 11:57:11,2,NaN
13,NaN,3,5,LA,7/1/2016 11:58:37,2,NaN
14,NaN,2,4,LA,7/8/2016 10:31:27,3,NaN
15,NaN,4,4,LA,7/8/2016 13:45:52,3,NaN
16,NaN,3,4,LA,7/8/2016 13:47:42,3,NaN
17,NaN,3,4,LA,7/8/2016 13:47:59,3,NaN
18,NaN,3,4,LA,7/8/2016 14:12:24,3,NaN
19,NaN,4,5,LA,7/8/2016 14:13:39,3,NaN
20,NaN,3,5,LA,7/15/2016 13:20:35,4,NaN
21,NaN,3,5,LA,7/15/2016 13:22:22,4,NaN
22,NaN,3,5,LA,7/15/2016 14:35:15,4,NaN
23,NaN,4,5,LA,7/15/2016 15:05:10,4,NaN
24,NaN,3,3,LA,7/15/2016 15:12:36,4,NaN
25,NaN,3,4,LA,7/15/2016 16:59:37,4,NaN
26,NaN,3,4,LA,7/15/2016 17:10:52,4,NaN
27,NaN,3,4,LA,7/15/2016 19:32:26,4,NaN
28,NaN,2,3,LA,7/22/2016 16:15:37,5,Games
29,NaN,3,4,LA,7/22/2016 16:16:07,5,Intro
...,...,...,...,...,...,...,...
897,NaN,4,3,Taipei,7/29/2016 1:22:25,6,NaN
898,NaN,3,3,Taipei,7/29/2016 1:27:55,6,NaN
899,NaN,2,5,Taipei,7/29/2016 1:28:54,6,NaN
900,NaN,4,4,Taipei,7/29/2016 1:29:23,6,NaN
901,NaN,4,5,Taipei,7/29/2016 1:46:49,6,NaN
902,NaN,3,5,Taipei,7/29/2016 21:20:05,6,NaN
903,NaN,3,3,Taipei,8/5/2016 1:39:41,7,NaN
904,NaN,3,4,Taipei,8/5/2016 1:40:47,7,NaN
905,NaN,3,4,Taipei,8/5/2016 1:40:50,7,NaN
906,NaN,4,4,Taipei,8/5/2016 1:42:44,7,NaN
907,NaN,4,5,Taipei,8/5/2016 1:45:13,7,NaN
908,NaN,3,4,Taipei,8/5/2016 1:45:39,7,NaN
909,NaN,3,4,Taipei,8/5/2016 1:49:21,7,NaN
910,NaN,3,5,Taipei,8/8/2016 1:30:34,7,NaN
911,NaN,3,5,Taipei,8/8/2016 1:33:45,7,NaN
912,NaN,3,5,Taipei,8/8/2016 1:49:29,7,NaN
913,NaN,3,3,Taipei,8/8/2016 1:51:00,7,NaN
914,NaN,4,3,Tokyo,7/31/2016 1:04:57,6,NaN
915,NaN,3,4,Tokyo,7/31/2016 3:38:14,6,NaN
916,NaN,1,4,Tokyo,7/31/2016 3:59:43,6,NaN
917,NaN,2,4,Tokyo,7/31/2016 4:19:51,6,NaN
918,NaN,4,5,Tokyo,7/31/2016 5:14:20,6,NaN
919,NaN,3,3,Tokyo,7/31/2016 6:50:12,6,NaN
920,NaN,5,5,Tokyo,7/31/2016 15:23:52,6,NaN
921,NaN,2,4,Tokyo,7/31/2016 16:49:45,6,NaN
922,NaN,4,3,Tokyo,8/1/2016 1:18:47,6,NaN
923,NaN,3,5,Tokyo,8/1/2016 1:30:17,6,NaN
924,NaN,3,5,Tokyo,8/1/2016 1:30:17,6,NaN
925,NaN,4,4,Tokyo,8/1/2016 6:15:10,6,NaN
926,NaN,3,4,Tokyo,8/1/2016 7:56:08,6,NaN

In [31]:
df.describe()

       How well are the tutorials paced?        Week
count                         216.000000  927.000000
mean                            3.384259    3.600863
std                             0.658068    2.094506
min                             2.000000    1.000000
25%                             3.000000    2.000000
50%                             3.000000    3.000000
75%                             4.000000    5.000000
max                             5.000000    7.000000